<div class="row">
    <div class="col-md-offset-1 col-md-10 col-sm-12">
        <p>I'm a small batch roaster out of Tamworth, New Hampshire.</p>
        <p>I've been in love with coffee my whole life but working in coffee for about 6 years.</p>
        <p>It's been a natural progression of working in cafes to working in a more coffee focused cafe to roasting and buying coffee for a major grocery chain.</p>
        <p>I go to all the coffee expos, shows, and contest that are in my reach to find out new information and techniques.</p>
        <p>I also visit all the coffee shops I can find to see different styles and approaches people take with coffee.</p>
        <p>I find coffee to be a culture and way of life.</p>
        <p>It can be a ritual one does every morning or an art form.</p>
        <p>To me it's both.  I like a cup to wake up too, but I appreciate the care a specialty coffee shop puts into every cup.  I also treat coffee as a desert after a good meal.  Coffee fits so many aspects of life and means something different to everyone.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-12 about-logo">
        <img src="images/rooftop_logo.svg" />
    </div>
</div>